fieldset {
	border: 0;
}
.resultModal {
	text-align: center;
	top: 0;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(192,192,192,.8);
}
.singleResultBody{
	margin: auto;
    padding: 10px;
    text-align: center;
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: -moz-max-content;
	background: rgba(255,255,255,1);
	z-index: 1;
}
.result {
	margin: 0;
	padding: 0;
	font-size: 20px;
}
.resultMap {
	width: 200px;
	height: 200px;
}
h4{
	margin: 2px;
}
